#glContainer 
{
    display: inline-block;
    position: absolute;
    overflow: hidden;
}
#glModelContainer 
{
    display: inline-block;
    position: absolute;
    overflow: hidden;
}
#map 
{
    overflow: hidden;
    display: inline-block;
    width: 300px;
    height: 150px;
    z-index: -1000;
}
.preloaderBG
{
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 20px;
    top: 50%;
    left: 10%;
    background-color: grey;
}
.preloaderFG
{
    display: inline-block;
    position: absolute;
    width: 0%;
    height: 20px;
    top: 50%;
    left: 10%;
    background-color: white;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    
	  background: url(../webgl/data/textures/background.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;

    
    
}

ul.clr{list-style-type: none; clear: both; padding: 0; margin: 0;}
ul.clr:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
ul.clr li{float: left; margin: 0;}

span.resize{display: inline-block;}

a.resize{background-size: contain;}

#splash { 
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  

}

#splash .explore-button{display: none; width: 184px; height: 59px; background-image: url(../img/splash/explore-button.png); 
/*position: absolute; bottom: 30%; right: 0; left: 0; */

margin: 0 auto;
/*margin-top: -274px;*/
}

/*
#splash .status-bar-top{width: 526px; height: 44px; position: absolute; top: 18%; right: 0; left: 0; margin: 0 auto; overflow:hidden; background: url(../img/splash/status-bar-top.png) no-repeat;}

#splash .status-bar-bottom{width: 296px; height: 111px; position: absolute; top: 52%; right: 0; left: 0; margin: 0 auto; overflow:hidden; background: url(../img/splash/status-bar-bottom.png) no-repeat;}
*/

#share-button{display: block; position: absolute; top: 2%; left: 2%; width: 34px; height: 31px; background: url(../img/share/share-button.png); }

#logo{position: absolute; top: 0.5%; left: 5%; width: 208px; height: 105px; background: url(../img/logo.png);}

#logo-bottom{position: absolute; bottom: 2%; right: 2%; width: 342px; height: 22px; background: url(../img/logo-bottom.png);}

#menu-button{display: block; position: absolute; right: 2%; top: 2%; width: 28px; height: 21px; background: url(../img/menu/menu-button.png)};

#browse{
	position: absolute; top: 10%; right: 10%;
	width: 300px;
	height: 668px;
}

#legend{
	position: absolute; 
	bottom: 2%; 
	left: 2%;
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #B9CBD5;
}

#legend a{display: block; height: 12px; padding: 0px 80px 5px 35px; color: #fff; text-decoration: none; }

#legend a.destroyed{background: url(../img/legend/dot-destroyed.png) 0 3px no-repeat;}

#legend a.under{background: url(../img/legend/dot-under.png) 0 3px no-repeat;}

#legend a.reconstructed{background: url(../img/legend/dot-reconstructed.png) 0 3px no-repeat;}

#legend a.destroyed.disabled{background: url(../img/legend/dot-disabled.png) 0 3px no-repeat;}

#legend a.under.disabled{background: url(../img/legend/dot-disabled.png) 0 3px no-repeat;}

#legend a.reconstructed.disabled{background: url(../img/legend/dot-disabled.png) 0 3px no-repeat;}

#browse{position: absolute; right: 0; width: 690px; height: 406px; color: #B9CBD5;}

#browse li{postion: relative;}

#browse li .inner{position: absolute; top: 50%; padding-left: 10px;}
	
#browse li .inner .title{
	
	font-family: Nunito;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;	
	width: 345px; 
	margin: 0 auto;
	padding-left: 40px;
	padding-bottom: 40px;
}

#browse li .inner .status{
	
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;	
}



#slide-5, #slide-9 { 
  
  background: rgba(0, 0, 0, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #B9CBD5;
}

#slide-5 .title{

	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;	

}


#slide-9 div{ 
	position: absolute; 
	top: 50%;
	left: 50%
	
}
#slide-5 .close-button, #slide-9 .close-button{display: block; position: absolute; right: 2%; top: 2%; width: 34px; height: 30px; background: url(../img/close-button.png);}


#slide-5 ul.clr{ 
	width: 1200px;
	margin: 10% auto;

}

#slide-5 ul.clr li{ 
	width: 48%;

}

#slide-5 ul.clr li.text{ 
	padding: 20px;

}

#slide-5 .magnify{display: block; margin: 10px auto; width: 44px; height: 49px; background: url(../img/slides/magnify.png);}

/*
#browse{position: absolute; right: 0; width: 582px; height: 449px;}

.browse-inner{position: relative; width: 100%; height: 100%}

.browse-inner .arrows{position: absolute; top: 50%; left: 0;}

.browse-inner .arrows .arrow{ display: block;}

.browse-inner .arrows .arrow.up{top: 0; left: 0;}

.browse-inner .arrows .arrow.down{top: 100; left: 0;}

.browse-inner .items{position: absolute; overflow: hidden; top: 0; right: 0;}

.browse-inner .items .items-inner-1{position: relative;}

.browse-inner .items .items-inner-1 .items-inner-2{position: absolute; top: 0;}

.browse-inner .items .items-inner-1 .items-inner-2 .item{height: 250px; line-height: 250px; position: relative;}

.browse-inner .items .items-inner-1 .items-inner-2 .item li{width: 50%}

.browse-inner .items .items-inner-1 .items-inner-2 .item li .title{
	
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;	
	
}

.browse-inner .items .items-inner-1 .items-inner-2 .item li .status{
	
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	background-color: #0a214b;	
	
}

.browse-inner .items .items-inner-1 .items-inner-2 .item img{display: block; margin: auto; top: 0;  bottom: 0; left: 0; right: 0; vertical-align: middle;}

*/



