#glContainer {
	display: inline-block;
	position: absolute;
	overflow: hidden;
}
#glModelContainer {
	display: inline-block;
	position: absolute;
	overflow: hidden;//
	z-index: 1000;
}
#map {
	overflow: hidden;
	display: inline-block;
	width: 300px;
	height: 150px;
	z-index: -1000;
}
.preloaderBG {
	display: inline-block;
	position: absolute;
	width: 80%;
	height: 14px;
	top: 50%;
	left: 10%;
	opacity: 1.0;
	background-color: white;
	z-index: 1000;
}
.preloaderFG {
	display: inline-block;
	position: absolute;
	width: 0%;
	height: 10px;
	top: 50%;
	left: 10%;
	margin-top: 2px;
	margin-left: 2px;
	opacity: 1.0;
	background-color: mediumblue;
	z-index: 1000;
}

body {
	margin: 0;
	padding: 0;
	background: url(../webgl/data/textures/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

ul.clr {
	list-style-type: none;
	clear: both;
	padding: 0;
	margin: 0;
}
ul.clr:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
ul.clr li {
	float: left;
	margin: 0;
}

.center-both, .center-vertical, .center-horizontal {
	display: none;
}

.resize {
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
}

#splash {
	position: absolute;
	z-index: 2;
	text-align: center;
	/*border: 1px solid;*/
}

#splash .splash-text-top {
	display: block;
    margin: 0 auto;
    margin-top: 200px;
    
}

#splash .splash-text-bottom {
	display: block;
   	
}

#splash .explore-container {
	width: 184px;
	height: 59px;
	
	margin: 50px auto 127px auto;
}

#splash .loading {
	display: none;
	width: 184px;
	height: 59px;
	background-image: url(../img/splash/loading.png);
}

#splash .explore-button {
	display: none;
	width: 184px;
	height: 59px;
	background-image: url(../img/splash/explore-button.png);
}

/*
#splash .status-bar-top {
	width: 526px;
	height: 44px;
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

#splash .status-bar-bottom {
	display: none;
	width: 296px;
	height: 111px;
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
	background: url(../img/splash/status-bar-bottom.png) no-repeat;
}
*/

#share-button {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 34px;
	height: 31px;
	background-image: url(../img/share/share-button.png);
}

.share-menu{

	position: absolute;
	top: 37px;
	right: 20px;
	
}

.facebook {
	display: block;
	width: 34px;
	height: 31px;
	background-image: url(../img/share/facebook.png);
}

.twitter {
	display: block;
	width: 34px;
	height: 31px;
	background-image: url(../img/share/twitter.png);
}

#logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 194px;
	height: 99px;
	background-image: url(../img/logo.png);
}

#logo-bottom {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#logo-bottom-inner {
	position: relative;
	display: block;
	width: 342px;
	height: 19px;
	background-image: url(../img/logo-bottom.png);
	background-repeat: no-repeat;
}

.zoom-container {
	position: absolute;
	left: 100px;
	top: 50%;
}


.zoom-container-inner {
	position: relative;
	top: -50%;
}

#zoom-in-button{
	margin-bottom: 15px;
	width: 25px;
	height: 25px;
	background-image: url(../img/map/zoom_in.png);
	display: block;
}

#zoom-out-button{
	
	width: 25px;
	height: 25px;
	background-image: url(../img/map/zoom_out.png);
	display: block;
}

#menu-button {
	display: block;
	position: absolute;
	right: 78px;
	top: 24px;
	width: 28px;
	height: 21px;
	background-image: url(../img/menu/menu-button.png)
};

#browse {
	position: absolute;
	top: 10%;
	right: 10%;
	width: 300px;
	height: 668px;
}

#browse .clone{display: none;}

#browse .media{display: none;}

#legend {
	position: absolute;
	bottom: 20px;
	left: 112px;
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
	color: #B9CBD5;
}

#legend a {
	display: block;
	height: 12px;
	padding: 0px 20px 5px 20px;
	color: #fff;
	text-decoration: none;
}

#legend a.disabled {
	display: block;
	color: #383838;

}

#legend a.destroyed {
	background: url(../img/legend/dot-destroyed.png) 0 3px no-repeat;
}

#legend a.under {
	background: url(../img/legend/dot-under.png) 0 3px no-repeat;
}

#legend a.reconstructed {
	background: url(../img/legend/dot-reconstructed.png) 0 3px no-repeat;
}

#legend a.destroyed.disabled {
	background: url(../img/legend/dot-disabled.png) 0 3px no-repeat;
}

#legend a.under.disabled {
	background: url(../img/legend/dot-disabled.png) 0 3px no-repeat;
}

#legend a.reconstructed.disabled {
	background: url(../img/legend/dot-disabled.png) 0 3px no-repeat;
}

#slide-5, #slide-9 {

	background: rgba(0, 0, 0, 0.5);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
	color: #B9CBD5;
}

#slide-5 .title {

	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;
}

#slide-9 div {
	position: absolute;
	top: 50%;
	left: 50%
}
.close-button.page {
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 34px;
	height: 30px;
	background-image: url(../img/close-button.png);
	background-repeat: no-repeat;
}

#slide-5 ul.clr {
	width: 935px;
	margin: 0 auto;
}

#slide-5 ul.clr li.text {
	margin-right: 20px;
	width: 300px;
}

#slide-5 ul.clr li.text .title {
	margin-top: 40px;
}

#slide-5 ul.clr li.image {
	width: 615px;
}

#slide-5 .magnify {
	display: block;
	margin: 10px auto;
	width: 37px;
	height: 42px;
	background-image: url(../img/slides/magnify.png);
	background-repeat: no-repeat;
}

#about{
	width: 720px;
	position: absolute;
	left: 50%;
	top: 50%;	
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
	color: #B9CBD5;
}

#about .body {
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#about .contribute-button {
	display: block;
	width: 200px;
	height: 59px;
	background-image: url(../img/about/contribute-button.png);
	background-repeat: no-repeat;
	margin: 0 auto;
}

#browse {
	position: absolute;
	right: 0;
	top: 0px;
	color: #B9CBD5;
	font-family: Nunito;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	color: #B9CBD5;
}

#browse .arrow.up {
	width: 23px;
	height: 32px;
	margin-top: 428px;
	display: block;
	background-image: url(../img/browse/arrow-up.png);
}
#browse .arrow.down {
	width: 23px;
	height: 32px;
	margin-top: 20px;
	display: block;
	background-image: url(../img/browse/arrow-down.png);
}

#browse .items {
	width: 745px;
	overflow: hidden;
	border: 1px solid transparent;
}

#browse .items-inner {
	position: absolute;
	top: 0;
}

#browse .item {
	margin-bottom: 35px;
	margin-top: 35px;
}

#browse .item.unselected {
	opacity: 0.5;
}

#browse .items li.image {
	width: 345px;
}

#browse .items li.text {
	width: 400px;
	display: table;
}

#browse .items li.text .inner {
	display: table-cell;
    vertical-align: middle;

}

#browse li .inner .title {

	font-size: 28px;
	line-height: 28px;
	width: 200px;
    margin: 0 auto;
}

#browse li .inner .title .date {

	font-size: 14px;
	line-height: 20px;
}

#browse li .inner .status {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
}

#browse .arrows {
	margin-right: 135px;
}

/*
 .browse-inner{position: relative; width: 100%; height: 100%}

 .browse-inner .arrows{position: absolute; top: 50%; left: 0;}

 .browse-inner .arrows .arrow{ display: block;}

 .browse-inner .arrows .arrow.up{top: 0; left: 0;}

 .browse-inner .arrows .arrow.down{top: 100; left: 0;}

 .browse-inner .items{position: absolute; overflow: hidden; top: 0; right: 0;}

 .browse-inner .items .items-inner-1{position: relative;}

 .browse-inner .items .items-inner-1 .items-inner-2{position: absolute; top: 0;}

 .browse-inner .items .items-inner-1 .items-inner-2 .item{height: 250px; line-height: 250px; position: relative;}

 .browse-inner .items .items-inner-1 .items-inner-2 .item li{width: 50%}

 .browse-inner .items .items-inner-1 .items-inner-2 .item li .title{

 font-family: Nunito;
 font-size: 18px;
 font-style: normal;
 font-variant: normal;
 font-weight: 400;
 line-height: 20px;

 }

 .browse-inner .items .items-inner-1 .items-inner-2 .item li .status{

 font-family: Nunito;
 font-size: 14px;
 font-style: normal;
 font-variant: normal;
 font-weight: 400;
 line-height: 20px;
 background-color: #0a214b;

 }

 .browse-inner .items .items-inner-1 .items-inner-2 .item img{display: block; margin: auto; top: 0;  bottom: 0; left: 0; right: 0; vertical-align: middle;}

 */

